*.o
.old/*
*.iso
*.bin
build/bin/cb_bin.bin
build/iso/boot/cb_bin.bin
build/cubebox-v0.0.1.0a-alpha.iso
.VSCodeCounter/*
build/*
build/cubebox-v0.0.1.0a-alpha.iso
build/cubebox-v0.0.1.0a-alpha.iso
build/iso/boot/cb_bin.bin
build/iso/boot/cb_bin.bin
