*.o
.old/*
*.iso
*.bin
build/bin/cb_bin.bin
build/iso/boot/cb_bin.bin
build/cubebox-v0.0.1.0a-alpha.iso
.VSCodeCounter/2023-06-11_19-54-59/details.md
.VSCodeCounter/2023-06-11_19-54-59/diff-details.md
.VSCodeCounter/2023-06-11_19-54-59/diff.md
.VSCodeCounter/2023-06-11_19-54-59/diff.csv
.VSCodeCounter/2023-06-11_19-54-59/diff.txt
.VSCodeCounter/2023-06-11_19-54-59/results.csv
.VSCodeCounter/2023-06-11_19-54-59/results.md
.VSCodeCounter/2023-06-11_19-54-59/results.txt
.VSCodeCounter/2023-06-11_19-54-59/results.json
